service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{doc} {
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource != null && resource.data.ownerUid == request.auth.uid;
    }
    match /cash_flow/{doc} {
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource != null && resource.data.ownerUid == request.auth.uid;
    }
    match /sales/{doc} {
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource != null && resource.data.ownerUid == request.auth.uid;
    }
    match /products/{doc} {
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource != null && resource.data.ownerUid == request.auth.uid;
    }
    // Default: deny all other access
    match /{document=**} { allow read, write: if false; }
  }
}
